*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .mainLogo{
    animation: App-logo-spin infinite alternate 5s ease-in-out;
  }
}

.App-header {
  background-color: #264653;
  min-height: auto;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* mainHeader */
.mainHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.mainHeader .mainLogo{
  height: 100px;
  fill: white;
}

/* menuBar */
.menuBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menuBar ul>li{
  display:inline-flex;
  padding: 10px 30px;
}

.menuBar ul>li>a{
  text-decoration: none;
  color: #e9c46a ;
}
.menuBar ul>li:hover{
  background-color: #2a9d8f;
  color: #e76f51;
}

/* ItemListContainer */
.ItemListContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-35deg);
  }
  to {
    transform: rotate(35deg);
  }
}
